# Xcode project artifacts
*.xcworkspace
*.xcodeproj
!*.xcodeproj/xcshareddata
DerivedData/
build/
xcuserdata/

# XcodeGen
*.xcodeproj
!*.xcodeproj/xcshareddata

# Swift Package Manager
.swiftpm/
Package.resolved
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/screenshots/
fastlane/test_output/
fastlane/tmp/

# Misc
*.DS_Store
*.log
*.env
.env.*
.idea/
.vscode/
*.swp
*.swo
*.tmp
*.bak
*.patch

# Output
*.ipa
*.dSYM
*.xcarchive
*.app
*.framework
